@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: "Montserrat", serif;
}

.pt {
    padding-left: 10px
}

.ptt {
    padding-top: 20px
}

.container {
    padding: 50px
}

body {
    background-color: #d2d2d2
}

#foto {
    cursor: pointer
}

#changeColorButton {
    margin-top: 20rem;
    font-size: 10px
}
